body {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.img-container {
  display: flex;
}

.faqs-container {
  font-family: 'Kumbh Sans', 'Ramabhadra', sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

.faqs-container .questions-container {
  box-shadow: px 4px8px -3px rgba(0, 0, 0, 0.3);
}

.background .transbox {
  opacity: 0.6;
  color: #3f3258;
  text-shadow: #8360c3;
  background-color: #ddeceb;
}

.faqs-container h1 {
  padding: 4px 32px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  }

.faqs-container .faq-header {
  display: flex;
  background: #0303301e;
  color: #e5ecec;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.faqs-container .faq-header .open,
.faqs-container .faq-header .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 22px;
  font-weight: bold;
  transform: translateY(-8px);
  opacity: 0;
  transition: all 500ms;
}

.faqs-container .faq-header .open.active,
.faqs-container .faq-header .close.active {
  opacity: 1;
  transform: translateY(0);
}

.faqs-container .faq-header h3 {
  font-size: 20px;
  padding: 0 32px;
}

.faqs-container .content {
  padding: 0 32px;
  background: #e1f8f6;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.faqs-container .content.active {
  max-height: 1000px;
}

article {
  float: left;
}
